.game-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-text {
  font-size: 22px;
  width: calc(100% - 40px);
  text-align: left;
  margin: 25px 0;
}

.game-select-button {
  height: 75px;
  width: 250px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: white;
  font-size: 28px;
  font-weight: bold;
  color: black;
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

