.game-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.game-panel-grid {
  display: flex;
  max-width: 275px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.game-button {
  height: 85px;
  width: 85px;
  max-height: 85px;
  max-width: 85px;
  border: none;
  background-color: white;
  font-size: 55px;
  font-weight: bold;
  color: black;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  border: 3px black solid;
  border-top: none;
  border-left: none;
  padding: 0;
  -webkit-text-size-adjust: unset;
}

.left-edge {
  border-left: 3px black solid;
}

.top-edge {
  border-top: 3px black solid;
}

.game-over {
  font-size: 26px;
  font-weight: bold;
  margin: 10px;
}

.game-status {
  font-size: 26px;
  font-weight: bold;
  margin: 10px;
}

.restart-button {
  height: 40px;
  width: 250px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: white;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}


